<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050930604369-llrck0u0vbha06mdbrv1lb43pbb7p29l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050930604369-llrck0u0vbha06mdbrv1lb43pbb7p29l</string>
	<key>API_KEY</key>
	<string>AIzaSyAdyJHUmYTmKEo9nzYtQ4eF8770fGRQXLg</string>
	<key>GCM_SENDER_ID</key>
	<string>1050930604369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skyNote</string>
	<key>PROJECT_ID</key>
	<string>skynote-ba77e</string>
	<key>STORAGE_BUCKET</key>
	<string>skynote-ba77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050930604369:ios:f7a2cebdaf646c91c64b70</string>
</dict>
</plist>